body{
	font-family:Georgia, 'Times New Roman', Times, serif;
	background-image: url("img/oo.jpg");
 	background-repeat: no-repeat;
    background-size: 1600px 800px   
}
#heading{   
	    position: absolute;
	    left:17%;
    	width: 1000px;
		background: rgba(255,255,255,0.5);
		border-radius: 5px;
		box-shadow: 0 0 8px 3px rgb(53, 53, 53);


}
#text
{
	 text-align: center;
}
#quiz
{
	    height: 330px;
    	width: 60%;
    	position: absolute;
    	left:20%;
    	top: 30%;
		background: rgba(255,255,255,0.5);
		padding: 20px;
		box-shadow: 0 0 8px 3px rgb(53, 53, 53);
		border-radius: 8px;

}
#question
{
   padding: 20px;
   font-size: 22px;
   /*background: #8c0803;*/
   border-radius: 10px;
   margin: 10px 0 10px 0;
   color: #760505;
}
.option{
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 0;
	background: rgba(255,255,255,0.5);
	margin: 10px 0 10px 10px;
	color: #000;
	border-radius: 5px;
}

.option:hover{
	background: #8c0303;
	color: #f6f6f6;	
}
#next
{
	font-family:'Times New Roman', Times, serif; 
	width:10%;
	height: 4%px;
	border-radius: 5px;
	float: right;
    padding: 10px 10px;
	
}
#next:hover{
	background-color:rgb(151, 0, 0)
}
#quit
{
	position: absolute;
    right:    30%;
    bottom:   3%;
	font-size: 22px;
    font-family: 'Times New Roman', Times, serif; 
	background-color: #3c3c3c;
	cursor: pointer;;
	float: right;
	 padding: 5px 50px;
	
}
#quit:hover{
		background-color:rgb(121, 0, 0)
}
#result
{
	font-size:50px;
	 text-align: center;
    	 height: 100px;
    	width: 60%;
    	position: absolute;
    	left:20%;
    	top: 30%;
		background: rgba(255,255,255,0.5);
		padding: 20px 10px 30px;
		box-shadow: 0 0 8px 3px rgb(38, 38, 38);
		border-radius: 5px;

}

